<h3 class="total">Total contacts: {{model.length}}</h3>

<ul class="contact-list">
  {{#each contact in model}}
    <li>
      {{#link-to 'contacts.show' contact}}
        {{contact.firstName}} {{contact.lastName}}
      {{/link-to}}
    </li>
  {{/each}}
</ul>
{{#link-to 'contacts.new' class='add-new'}}Add a new contact{{/link-to}}
